.card{
    /* margin-left: 40rem; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 1rem;
    padding: 10px;
    /* padding: 5px; */
    background-color: rgb(255, 255, 255);
    width: 13rem;
    /* height: 12rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:solid black 2px;
    border-radius: 10px;
    z-index: 10;
}   